/* Reset some default styles */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .questions {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .para {
    font-size: 18px;
    color: #555;
    text-align: center;
  }
  
  #currentQuestion {
    font-weight: bold;
    margin-right: 5px;
  }
  
  #totalQuestion {
    font-weight: bold;
    color: #555;
  }
  
  h2#question {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
  }
  
  .answer {
    margin-top: 10px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  

  .options button {
    margin-top: 10px;
  }
  
  
  .options button:last-child {
    margin: 0 auto;
    display: block;
    background-color: #4CAF50;
    color: white;
  }
  
  .options button:last-child:hover {
    background-color: #45a049;
  }
  .opt{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
  }
  .next{
   background: #333;
   color: #fff;
   border-radius: 4px;
  }